<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="/static/resources/css/bootstrap.min.css" rel="stylesheet">
    <!--     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"  rel="stylesheet" > -->
        <link href="/static/resources/css/animate.min.css" rel="stylesheet">
        <link href="/static/resources/css/style.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="/static/js/libs/html5shiv.js"></script>
        <![endif]-->
        <title>J&J</title>
    </head>
    <body>
        <header ng-controller="HeaderController" id="top-header" class="navbar-inverse navbar-fixed-top" ng-cloak="">
            <div class="container">
                <div class="navbar-header">
                    <!-- logo -->
                    <div class="navbar-brand">
                        <a href="https://www.jjins.com/">J&J Test</a>
                    </div>
                    <!-- /logo -->
                </div>
                <!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul id="nav" class="nav navbar-nav">
                            <li class="scroll"><a href="#home" data-section="#home">Home</a></li>
                            <li class="scroll"><a href="#contact-area" data-section="#contact-area">Contact</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>
        <div id="splashscreen" class="sk-cube-grid"  ng-cloak="">
            <p> Loading, please wait...</p>
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
        <div class="container" >
            <div class="row" ng-controller="ErrorController">
                <div id="id_message_place" class=" container-fluid " data-alerts="alerts"
                    data-titles="{&quot;warning&quot;: &quot;&lt;em&gt;Warning!&lt;/em&gt;&quot;}"
                    data-ids="myid"
                    data-fade="10000">
                </div>
            </div>

            <div class="row" >
                <div class="col-md-3">
                    <div ng-controller="CustomerController" ng-cloak="">
                      <div customer-form></div>
                    </div>
                </div>
                <div class="col-md-9">

                        <div ng-controller="CustomerListController" ng-cloak="">
                          <div customer-list></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <footer>
                <p>&copy; 2015 dimas</p>
            </footer>
        </div>

        <script  type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        <script  type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="/static/js/libs/bootstrap.min.js"></script>

        <script type="text/javascript">
            // Add the CSRF Token
            var JjApp = angular.module("jjApp", ["dataExchangeService", 'messageService']);

            JjApp.config(function($interpolateProvider) {
                $interpolateProvider.startSymbol('{$');
                $interpolateProvider.endSymbol('$}');
            });
            JjApp.csrf_token = '{{ csrf_token|escapejs }}';

        </script>
        <script  type="text/javascript" src="/static/js/app/jj.js"></script>
        <script  type="text/javascript" src="/static/js/libs/jquery.validate.js"></script>
        <script  type="text/javascript" src="/static/js/libs/additional-methods.js"></script>

        <script  type="text/javascript" src="/static/js/libs/ngStore.js"></script>

        <script  type="text/javascript" src="/static/js/app/controllers/CustomerController.js"></script>
        <script  type="text/javascript" src="/static/js/app/controllers/CustomerListController.js"></script>
        <script  type="text/javascript" src="/static/js/app/controllers/ErrorController.js"></script>
        <script  type="text/javascript" src="/static/js/app/controllers/HeaderController.js"></script>
        <script type="text/javascript" src="/static/js/libs/query.bsAlerts.min.js"></script>

        <!--[if lt IE 9]>
        <script  type="text/javascript" src="/static/js/libs/ie10-viewport-bug-workaround.js"></script>
        <![endif]-->
    </body>
</html>
