<div class="panel-body">
    <h2>Customer's Invoices</h2>
    <table class="table table-striped table-bordered table-hover" >
        <thead>
          <tr>
              <th class="hidden"></th>
              <th width="100%">Amount</th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="invoice in invoices | orderBy:'id'">
                <td data-name="id" class="hidden">{$invoice.id$}</td>
                <td data-name="balance">{$invoice.amount$}</td>

            </tr>
        </tbody>
    </table>
</div>